# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
svc-web/node_modules/

# vscode
.vscode

# stored images
svc-web/archive/
svc-web/uploads/

# tensorflow images and checkpoints
svc-predict/tftrain/laundry/
svc-predict/tftrain/checkpoints/

# python
*.pyc
